<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/signUpStyle.css' />
</head>
<body>
    <div class="container">
        <form id="form" class="form" action="/products/create" method="post">
            <h2>Create New Product</h2>
            <div class="form-ctl">
                <label for="user">name</label>
                <input type="text" id="user" placeholder="Enter fullname" name="name">
                
            </div>
            <div class="form-ctl">
                <label for="image">image</label>
                <input type="text" id="email" placeholder="Enter email" name="image">
             
            </div>
            <div class="form-ctl">
                <label for="brand">brand</label>
                <input type="text" id="gender" placeholder="Enter gender" name="brand">
             
            </div>
            <div class="form-ctl">
                <label for="category">category</label>
                <input type="text" id="phone" placeholder="Enter phone" name="category">
               
            </div>
            <div class="form-ctl">
                <label for="description">description</label>
                <input type="text" id="address" placeholder="Enter address" name="description">
                
            </div>
            <div class="form-ctl">
                <label for="price">price</label>
                <input type="text" id="password" placeholder="Enter password" name="price">
                
            </div>
            <div class="form-ctl">
                <label for="countInStock">count In Stock</label>
                <input type="text" id="passwordConfirm" placeholder="Confirm Password" name="countInStock">
        
            </div>

            <div class="form-ctl">
                <label for="countInStock">rating</label>
                <input type="text" id="rating" placeholder="Confirm Password" name="rating">
        
            </div>

            <div class="form-ctl">
                <label for="countInStock">numReviews</label>
                <input type="text" id="passwordConfirm" placeholder="Confirm Password" name="numReviews">
        
            </div>
            <button>Create Product</button>
        </form>
    </div>
</body>
</html>