<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/signUpStyle.css' />
</head>
<body>
    <div class="container">
        <form id="form" class="form" action="/products/create" method="post">
            <h2>Create New Product</h2>
            <div class="form-ctl">
                <label for="user">name</label>
                <input type="text" id="name" placeholder="Enter product name" name="name">
                
            </div>
            <div class="form-ctl">
                <label for="image">image</label>
                <input type="text" id="image" placeholder="Enter image" name="image">
             
            </div>
            <div class="form-ctl">
                <label for="brand">brand</label>
                <input type="text" id="brand" placeholder="Enter brand" name="brand">
             
            </div>
            <div class="form-ctl">
                <label for="category">category</label>
                <input type="text" id="category" placeholder="Enter category" name="category">
               
            </div>
            <div class="form-ctl">
                <label for="description">description</label>
                <input type="text" id="description" placeholder="Enter description" name="description">
                
            </div>
            <div class="form-ctl">
                <label for="price">price</label>
                <input type="text" id="price" placeholder="Enter price" name="price">
                
            </div>
            <div class="form-ctl">
                <label for="countInStock">count In Stock</label>
                <input type="text" id="countInStock" placeholder="Enter countInStock" name="countInStock">
        
            </div>

            <div class="form-ctl">
                <label for="countInStock">rating</label>
                <input type="text" id="rating" placeholder="Enter rating" name="rating">
        
            </div>

            <div class="form-ctl">
                <label for="countInStock">numReviews</label>
                <input type="text" id="numReviews" placeholder="Enter number of reviews" name="numReviews">
        
            </div>
            <button>Create Product</button>
        </form>
    </div>
</body>
</html>