<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/signUpStyle.css' />
</head>
<body>
    <div class="container">
        <form id="form" class="form">
            <h2>Sign Up!</h2>
            <div class="form-ctl">
                <label for="user">Username</label>
                <input type="text" id="user" placeholder="Enter Username">
                <span>Error Message</span>
            </div>
            <div class="form-ctl">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Enter Email">
                <span>Error Message</span>
            </div>
            <div class="form-ctl">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter Password">
                <span>Error Message</span>
            </div>
            <div class="form-ctl">
                <label for="passwordConfirm">Confirm Password</label>
                <input type="password" id="passwordConfirm" placeholder="Confirm Password">
                <span>Error Message</span>
            </div>
            <button type="submit">Register Me</button>
        </form>
    </div>
</body>
</html>